<ion-header no-border>
    <ion-toolbar class="headFoot">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Registro de Profesor</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="colorFondo">
    <form onsubmit="processForm(event)">
        <ion-list class="colorFondo" lines="inset">
            <ion-item class="colorFondo">
                <ion-label position="floating">Nombres</ion-label>
                <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
            </ion-item>

            <ion-item class="colorFondo">
                <ion-label>Tipo de Documento</ion-label>
                <ion-select placeholder="Seleccione" interface="popover">
                    <ion-select-option value="cc">Cédula de Ciudadanía</ion-select-option>
                    <ion-select-option value="ce">Cédula de Extranjería</ion-select-option>
                    <ion-select-option value="ti">Tarjeta de Identidad</ion-select-option>
                    <ion-select-option value="pp">Pasaporte</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item class="colorFondo">
                <ion-label>Grado</ion-label>
                <ion-select multiple="true" cancelText="Cancelar" okText="Elegir" placeholder="Seleccione" interface="popover">
                    <ion-select-option value="uno">1° Primero</ion-select-option>
                    <ion-select-option value="dos">2° Segundo</ion-select-option>
                    <ion-select-option value="tercero">3° Tercero</ion-select-option>
                    <ion-select-option value="cuarto">4° Cuarto</ion-select-option>
                    <ion-select-option value="quinto">5° Quinto</ion-select-option>
                    <ion-select-option value="sexto">6° Sexto</ion-select-option>
                    <ion-select-option value="tercero">7° Séptimo</ion-select-option>
                    <ion-select-option value="cuarto">8° Octavo</ion-select-option>
                    <ion-select-option value="sexto">9° Noveno</ion-select-option>
                    <ion-select-option value="tercero">10° Décimo</ion-select-option>
                    <ion-select-option value="cuarto">11° Undécimo</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item class="colorFondo">
                <ion-label position="floating">Número de Documento</ion-label>
                <ion-input required type="text" oninput="handleNumeroDocumento(event)"></ion-input>
            </ion-item>

            <ion-item class="colorFondo">
                <ion-label position="floating">Correo Electrónico</ion-label>
                <ion-input required type="email" oninput="handleEmail(event)"></ion-input>
            </ion-item>

        </ion-list>

        <ion-grid>
            <ion-row>
                <ion-col class="ion-padding">
                    <ion-button expand="block" [routerLink]="['/menu']" class="buttRegProfesor" type="button">Regresar</ion-button>
                </ion-col>
                <ion-col class="ion-padding">
                    <ion-button expand="block" class="buttRegProfesor" type="submit">Guardar</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>

    </form>
</ion-content>
<ion-footer>
    <ion-toolbar class="headFoot"></ion-toolbar>
</ion-footer>