* {
    color: #189231;
}

.colorFondo {
    --ion-background-color: #D7DC3A !important;
}

.headFoot {
    --background: #3751FE;
}

.buttRegistro {
    --background: #3751FE;
    margin-left: 20%;
    margin-right: 20;
}