.img {
    margin: 20%;
}

.colorFondo {
    --ion-background-color: #FEFDF8 !important;
    color: #288EF5;
}

.headFoot {
    --background: #2A97EB;
    color: #FEFEFE;
}

h6 {
    text-align: center;
    color: #288EF5;
}

.buttRegGrMat {
    --background: #09BD1E;
}