<ion-header no-border>
    <ion-toolbar class="headFoot">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Menú</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="colorFondo">
    <ion-img class="img" src="./assets/clipboard.png" slot=""></ion-img>

    <ion-button expand="block" class="buttMenu" [routerLink]="['/reg-estudiante']" size="large">Registro de Estudiante</ion-button>
    <ion-button expand="block" class="buttMenu" [routerLink]="['/reg-profesor']" size="large">Registro de Profesor</ion-button>
    <ion-button expand="block" class="buttMenu" [routerLink]="['/reg-gr-mat']" size="large">Registro de Grados Y Materias</ion-button>
    <ion-button expand="block" class="buttMenu" [routerLink]="['/consulta-est']" size="large">Consulta de Estudiante</ion-button>

</ion-content>

<ion-footer>
    <ion-toolbar class="headFoot"></ion-toolbar>
</ion-footer>