<ion-header no-border>
    <ion-toolbar class="headFoot">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Menú</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="colorFondo">
    <div>
        <ion-button class="buttMenu" size="large">Registro de Estudiante</ion-button>

        <ion-button class="buttMenu" size="large">Registro de Profesor</ion-button>

        <ion-button class="buttMenu" size="large">Registro de Grados Y Materias</ion-button>

        <ion-button class="buttMenu" size="large">Consulta de Estudiante</ion-button>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar class="headFoot"></ion-toolbar>
</ion-footer>