* {
    color: #189231;
}

.headFoot {
    --background: #3751FE;
}

div {
    text-align: center;
}

.buttMenu {
    --background: #3751FE;
    margin-bottom: 5%;
}

.colorFondo {
    --ion-background-color: #D7DC3A !important;
}